@media (max-width:1232px) {
    .image{
        height: 45vh;
        width: 45vh;
        border-radius: 100%;
        border: 2px solid black
    }
    img{
        height: 45vh;
        z-index: -1;
    }
    /* .c-phase-1{
        background-color: white;
    } */
    .name{
        font-size: xx-large;
        font-family: 'Bebas Neue', cursive;
    }
    .s-icon{
        height: 15vh;
    }
    .c-phase-2{
        margin-top: 20px;
    }
    .form-title{
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        font-size: 4em;
        margin-left: 12vw;
    }
    .f-input{
        all: unset;
        height: 7vh;
        width: 40vw;
        margin-top: 1vh;
        color: white;
        padding-left: 5px;
        border-bottom: 1px solid black;
        font-size: larger;
    }
    .f-input:focus{
        all: unset;
        height: 7vh;
        width: 40vw;
        /* margin-top: 4vh; */
        padding-left: 5px;
        border-bottom: 1px solid black;
        font-size: larger;
        background-color: #e8f0fe67;
    }
    .f-message{
        all: unset;
        height: 25vh;
        width: 40vw;
        margin-top: 1vh;
        padding-left: 5px;
        border-bottom: 1px solid black;
        font-size: larger;
        color: white;
        text-align: justify;
        /* height: 10vh; */
        vertical-align: text-top;
    
    }
    .f-message:focus{
        all: unset;
        height: 25vh;
        width: 40vw;
        margin-top: 1vh;
        padding-left: 5px;
        border-bottom: 1px solid yellow;
        font-size: larger;
        text-align: justify;
        background-color: #e8f0fe67;
        color: white;
        /* height: 10vh; */
        vertical-align: text-top;
    }
    .submit-btn{
        height: 10vh;
        font-family: 'Bebas Neue', cursive;
        width: 40vw;
        letter-spacing: 5px;
        margin-top: 20px;
        background-color: #e8f0fe67;
        cursor: pointer;
        font-size: xx-large;
    }
    .f-div{
        margin-left: 12vw;
    } 
    .c-phase-3{
        background-image:url(../images/Contact.jpeg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
} 
